<div class="products">
  <ng-container *ngIf="products$ | async as products">
    <div *ngFor="let product of products; let i = index" class="product">
      <ng-container *ngIf="product">
        <div class="product-actions">
          <mat-icon (click)="editProduct(product)" data-cy="product-edit-button"
            >edit</mat-icon
          >
          <mat-icon
            (click)="deleteProduct(product.id)"
            data-cy="product-delete-button"
            >delete</mat-icon
          >
        </div>
        <div
          class="product-image"
          [style.background-image]="'url(/assets/' + product.thumbnail + ')'"
        ></div>
        <div class="product-info">
          <div class="product-name">
            {{ product.name }}
          </div>
          <div class="product-price">{{ product.price }} zł</div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <div class="add-product" (click)="addProduct()">
    <mat-icon class="add-product-button" data-cy="product-add-button"
      >add</mat-icon
    >
  </div>
</div>
